#Ignore all files and directories
*

#Re-include all directories
!*/

#Re-include all files with extensions
!*.*

#Remove all directories in TestProblems directory
TestProblems/*/*

#Re-include TestProblems/meshes
!TestProblems/meshes/*

# remove files
*.a
*.o
*.core
*.cmake
